{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

<div class="l-circle--industry-image row">

  <div class="columns small-12 large-8">
    <div class="row small-up-2 medium-up-3">
      {% for row in rows %}
        <div class="columns">
          {{ row.content }}
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="columns small-12 large-4 align-self-middle">
    <div class="m-text">
      <h2>{{ 'Outcomes By Industry'|trans }}</h2>
    </div>
  </div>

</div>
