// Place any Drupal-related quirks here.

// Navigation

#toolbar-administration .toolbar-tab { z-index: 12; }
#toolbar-administration .toolbar-tray { z-index: 13; }

.adminimal-admin-toolbar.toolbar-horizontal .m-header.is-stuck,
.adminimal-admin-toolbar.toolbar-vertical .m-header.is-stuck {  top: 39px !important; }

.adminimal-admin-toolbar.toolbar-tray-horizontal.toolbar-tray-open .m-header.is-stuck { top: 79px !important; }
.adminimal-admin-toolbar.toolbar-horizontal.toolbar-tray-open .m-header.is-stuck { top: 75px !important; }

#toolbar-administration .menu { display: block; }
#toolbar-administration .menu li a { display: block; }

#toolbar-administration #toolbar-bar { @include breakpoint(small only) { position: fixed; } }

#block-infobuilders-local-tasks {
  @include breakpoint(large) { padding: 0 .5rem }

  .button-group { margin-top: 1rem; }
  .button-group a { padding: .85rem 0; flex: 1 0 auto; border-radius: 5px; font-weight: 700; }
  .button-group a:not(:last-child) {
    margin-right: 2px;
    @include breakpoint(large) { margin-right: 8px; }
  }
}