//
// LAYOUT: Instagram
//

.l-instagram,
#instafeed {
  display: flex;
  flex-flow: row wrap;
  margin-top: 2rem;

  @include breakpoint(medium) {
    flex-flow: row;
  }
}

.l-instagram-main,
.l-instagram-timeline,
.instapic {
  display: flex;
  flex-direction: column;

  @include breakpoint(small only) {
    width: 100%;
  }

  .m-instagram {
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;

    @include breakpoint(small only) {
      margin-bottom: 1.5rem;
      min-height: 300px;
    }
  }
}

.l-instagram-main {
  @include breakpoint(medium) {
    width: 60%;
    margin-right: 2rem;
  }

  @include breakpoint(large) {
    width: 65%;
  }

  .instapic img {
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
  }
}

.l-instagram-timeline {
  @include breakpoint(medium) {
    width: 40%;
    margin-left: 0;
  }

  @include breakpoint(large) {
    width: 35%;
  }

  >.m-instagram {
    min-height: 370px;
    display: flex;
    flex-direction: column;
    width: 100%;

    @include breakpoint(small only) {
      &:last-child {
        margin-bottom: 0;
      }
    }

    @include breakpoint(medium only) {
      min-height: 250px;
    }
  }

  >.m-instagram:first-child,
  >.instapic:first-child {
    @include breakpoint(medium) {
      margin-bottom: 2rem;
    }
  }
}
